.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.list-items ul {
  display: flex;
  justify-content: center;
  list-style-type: decimal;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 200px;
}

.list-items ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.list-items ul li button {
  height: 50%;
  border-radius: 50%;
  margin-left: 30px;
}
